.item-editor {
  border-radius: 5px;
  padding: 10px 10px 10px 15px;
  margin: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
}

.item-editor-title-section {
  display: flex;
  align-items: center;
  gap: 5px;
}

.item-editor-title-section H4 {
  margin-bottom: 0px;
}
