@import "@blueprintjs/core/lib/scss/variables";

.item-class-list {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow: auto;
}

.#{$ns}-button-text {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.item-class-selector-id {
  color: $pt-text-color-muted;

  .#{$ns}-dark & {
    color: $pt-dark-text-color-muted;
  }
}
